/**
 * Custom styles
 */

body, html, .fullheight {
	height: 100%;
}

.navbar-brand img {
	width: 36px;
	height: 36px;
}

.navbar {
	margin-bottom: 0;
}

div.sidebar {
	padding-left: 0;
	padding-right: 0;
}

aside.sidebar {
	height: 100%;
	padding: 100px 20px 20px 20px;
	background-color: #003366;
	color: white;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

hr {
	height: 1px;
	color: rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.1);
}

.element img {
	width: 200px;
	display: block;
	margin: 25px auto;
}

.code img {
	width: 120px;
}

.articles img {
	width: 120px;
}

.presentations img {
	width: 120px;
}

.portfolio img.project-logo {
	width: 120px;
	height: 120px;
	border: 1px solid red;
	margin-bottom: 20px;
}

.portfolio .characteristics {
	width: 48px;
	height: 48px;
	border: 1px solid orange;
	float: left;
	border-radius: 24px;
	margin: 5px;
}

.portfolio .panel-footer {
	overflow: hidden;
}

.portfolio .title {
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}

.portfolio .description {
	color: #003366;
	font-style: italic;
}

.date {
	padding: 15px;
	font-weight: bold;
	font-style: italic;
	color: rgba(0, 0, 0, 0.3);
}

/**
 * Visualization styles
 */

.rim {
	fill: none;
	stroke-dasharray: 5 5;
	stroke-width: 3;
	rx: 10;
	ry: 10;
}

.server-side .rim {
	stroke: blue;
}

.client-side .rim {
	stroke: orange;
}

.data-side .rim {
	stroke: green;
}

rect.client-side, rect.server-side, rect.data-side {
	stroke: white;
	stroke-width: 1;
}

rect.details {
	fill: white;
	rx: 5;
	ry: 5;
	stroke: gray;
	stroke-width: 2;
}

text.details {
	fill: red;
}

foreignObject {
	padding: 10px;
	border: 1px solid gray;
	border-radius: 5px;
}

.tile {
	margin-top: 20px;
	height: 200px;
}

.tile .header {
	padding: 10px;
	color: white;
	height: 40px;
	text-transform: uppercase;
	font-weight: bold;
}

.tile .body, .tile .cover {
	padding: 10px;
	height: 150px;
	text-align: center;
}

.tile .cover {
	display: none;
	color: white;
}

.client 	{ background-color: red; }
.server 	{ background-color: blue; }
.data		{ background-color: #003366; }

.top-logo {
	max-width: 36px;
	max-height: 36px;
}
