/**
 * Custom styles
 * http://colorschemedesigner.com/csd-3.5/#3m31Tw0w0w0w0
 */

body, html, .fullheight {
	height: 100%;
}

.navbar-brand img {
	width: 24px;
	height: 24px;
}

.navbar {
	margin-bottom: 0;
}

/**
 * Sidebar Styles
 */
div.sidebar {
	padding-left: 0;
	padding-right: 0;
}

aside.sidebar {
	height: 100%;
	padding: 170px 20px 20px 20px;
	background-color: #37B6CE;
	color: white;
	overflow: auto;
}

.sidebar .sidebar-text {
	line-height: 1.75em;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

section.content .title {
	color: #015666;
}

hr {
	height: 1px;
	color: rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.1);
}

.element img {
	width: 200px;
	display: block;
	margin: 25px auto;
}

.code img {
	width: 120px;
}

.articles img {
	width: 120px;
}

.presentations img {
	width: 120px;
}

.portfolio img.project-logo {
	width: 120px;
	height: 120px;
	border: 1px solid red;
	margin-bottom: 20px;
}

.characteristics {
	width: 36px;
	height: 36px;
	border-width: 2px;
	border-style: solid;
	border-radius: 18px;
	margin: 5px;
	float: left;
}

span.characteristics {
	display: block;
}

.legend {
	overflow: hidden;
	position: relative;
}

.characteristic-label {
	padding-top: 30px;
	padding-bottom: 30px;
	line-height: 1.0em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}

.human-centered {
	background-color: #04859D;
	border-color: #015666;
}

.human-centered:hover {
	background-color: #015666;
}

.tech-leadership {
	background-color: #FFD373;
	border-color: #BF9330;
}

.tech-leadership:hover {
	background-color: #BF9330;
}

.business-acumen {
	background-color: #FF8073;
	border-color: #A61000;
}

.business-acumen:hover {
	background-color: #A61000;
}

.data-driven {
	background-color: #65E080;
	border-color: #24913C;
}

.data-driven:hover {
	background-color: #24913C;
}

.portfolio .panel-footer {
	overflow: hidden;
}

.portfolio .title {
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}

.portfolio .description {
	color: #003366;
	font-style: italic;
}

.date {
	font-weight: bold;
	font-style: italic;
	color: rgba(0, 0, 0, 0.4);
}

/**
 * Tech Stack Styles
 * There are three areas to be styled: cover, header and body;
 */
.client-side {
	border-color: #04859D;
	background-color: #015666;
}

.client-side.header, .client-side.cover {
	background-color: #04859D;
}

.client-side.body {
	background-color: white;
	color: #015666;
}

.server-side {
	border-color: #BF9330;
	background-color: #FFD373;
}

.server-side.header, .server-side.cover {
	background-color: #BF9330;
}

.server-side.body {
	background-color: white;
	color: #BF9330;
}

.data-processing {
	border-color: #65E080;
	background-color: #24913C;
}

.data-processing.header, .data-processing.cover {
	background-color: #65E080;
}

.data-processing.body {
	background-color: white;
	color: #24913C;
}

.tile {
	margin-top: 20px;
	height: 200px;
}

.tile .cover {
	line-height: 100px;
}

.tile .header {
	padding: 10px;
	color: white;
	height: 40px;
	text-transform: uppercase;
	font-weight: bold;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.tile .body, .tile .cover {
	padding: 10px;
	height: 160px;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.tile .body {
	display: none;
	border-width: 2px;
	border-style: solid;
}

.techStack .logo {
	max-height: 125px;
	max-width: 225px;
}

.caption {
	color: rgba(0, 0, 0, 0.7);
	font-size: 0.9em;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.description {
	margin-top: 1.2em;
	font-size: 1.1em;
}

.home .panel-body {
	height: 300px;
}

.home .panel-footer {
	text-transform: uppercase;
}

.home .panel-footer a {
	color: gray;
	text-shadow: 0px 0px 0px black;
}

section.content {
	padding-top: 70px;
}

.list img {
	max-width: 150px;
	max-height: 150px;
}

.list .media-body {
	padding: 15px 20px 20px 20px;
}

.list .logo {
	padding-left: 40px;
}

.list li {
	padding-bottom: 3.5em;
}

.list .description {
	line-height: 1.6em;
}

.list h4 a {
	color: #015666;
}
