/**
 * Custom styles
 */
.sidebar {
	width: 20%;
	max-width: 200px;
	float: left;
	padding: 10px 10px 400px 10px;
	margin: 147px 0 0 0px;
	background-color: rgba(0, 0, 0, 0.2);

	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

.content {
	float: left;
	padding: 10px;
	width: 80%;
}

.myhr {
	float: left;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

hr {
	height: 1px;
	color: rgba(0, 0, 204, 0.4);
	background-color: rgba(0, 0, 204, 0.4);
}

.element {
	width: 345px;
	min-height: 200px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 15px;
	margin: 15px;
	float: left;
	position: relative;
}

.element img {
	width: 200px;
	display: block;
	margin: 0px auto 15px auto
}