<!-- Template for portfolio view -->
<div class="row">
	<div class="col-md-12">
		<h1 class="title center">{{title}}</h1>
		<hr />
	</div>
</div>

<div class="row portfolio">
	{{#each projects}}
	<div class="col-md-4 {{../class}}">
		<div class="panel panel-default">
			<div class="panel-body center">
				<div class="img-wrapper">
					<img src="images/{{icon}}" class="project-logo" />
				</div>
				<p class="title">{{name}}</p>
				<p class="description">{{description}}</p>
			</div>
			<div class="panel-footer">
				{{#each characteristics}}
					<div class="characteristics {{class}}" data-toggle="popover" data-title="{{type}}" data-content="{{description}}" data-placement="auto" data-container="body" data-trigger="hover"></div>
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
</div>
